<section>
  <h1>Welcome to the Dahl house.</h1>
  <p>
    We are currently undergoing a new website design but for now you can visit the <a href="https://adventurebuddies4life.wordpress.com/">old site</a>.
  </p>
</section>
